.mainWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	align-items: center;
}

.firstContainer {
	position: relative;
	width: 300px;
	height: 500px;
}

.secondContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.thirdContainer {
	position: relative;
}

.firstOverlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -62px;
}

.secondOverlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.thirdOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 430px;
	text-align: center;
	z-index: 1;
}

/* text */

.title {
	padding-top: 80px;
	color: #3676bc;
	font-size: 48px;
	font-weight: 600;
	line-height: 60px; /* 125% */
}

.subtitle {
	padding: 4px 0 12px;
	color: #3676bc;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
}

.item {
	padding: 12px;
}

p {
	display: inline-block;
}
.name {
	color: #3676bc;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	text-align: left;
	width: 85px;
	padding-right: 62px;
}

.score {
	color: #3676bc;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px; /* 100% */
	text-align: right;
	width: 95px;
}

/* img */

.ellipse {
	width: 144px;
	height: 144px;
}

.Win {
	width: 90px;
	height: 95px;
}

.Lose {
	width: 82px;
	height: 82px;
}

.subtract {
	width: 300px;
	height: 427px;
	filter: drop-shadow(0px 2px 10px rgba(255, 255, 255, 0.25));
}
