/* сброс стилей */
body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* фон */
.app {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	width: 100%;
	height: 100vh;
	background: url('./assets/images/background.svg');
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: radial-gradient(
		269.02% 186.27% at 96.21% 166.59%,
		#4ca1d2 0%,
		#285bae 100%
	);
}

.appWrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

/* кнопки */
.start-button {
	align-self: center;
	padding: 12px 36px;
	border-radius: 30px;
	background: #b0c255;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1),
		0px 2px 4px 0px rgba(0, 0, 0, 0.06);
	color: #fff;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 100% */
}

/* панель настроек */
.settingsBar {
	display: flex;
	/* justify-self: flex-start; */
	justify-content: space-around; /*space-around */
	column-gap: 12px;
	padding: 24px 64px;
}

.select-settings {
	width: 100%;
	padding: 6px 12px;
	border-radius: 30px;
	border: 1px solid #3c82c2;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	background-color: transparent;
}
